<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar..." aria-describedby="button-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
					</div>
					<div class="card-body contacts_body">
						<div class="contacts">
						<li class="active">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.pinimg.com/originals/fa/34/07/fa3407bbfc876fd7e1019238c5b6984f.jpg" class="rounded-circle user_img">
								</div>
								<div class="user_info">
									<span>Roberta</span>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.insider.com/599df54ed03020539f56bbe1?width=1100&format=jpeg&auto=webp" class="rounded-circle user_img">
								</div>
								<div class="user_info">
									<span>Javiero</span>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://vignette.wikia.nocookie.net/disney/images/3/32/Profile_-_Rafiki.jpeg/revision/latest?cb=20190314055144" class="rounded-circle user_img">
								</div>
								<div class="user_info">
									<span>Rafiki</span>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://pbs.twimg.com/profile_images/1269917942105374721/o1-GxwPx.png" class="rounded-circle user_img">
								</div>
								<div class="user_info">
									<span>Luis</span>
								</div>
							</div>
						</li>
					</div>
					</div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.pinimg.com/originals/fa/34/07/fa3407bbfc876fd7e1019238c5b6984f.jpg" class="rounded-circle user_img">
								</div>
								<div class="user_info">
									<span>Roberta</span>
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-trash-alt"></i></span>
						</div>
						<div class="card-body msg_card_body">
							<div class="d-flex justify-content-start mb-4">
								<div class="msg_cotainer">
									Hola tía qué tal fue la pesca?
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Muy bien
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Qué divertido fue!
								</div>
							</div>
							<div class="d-flex justify-content-start mb-4">
								<div class="msg_cotainer">
									Me la recomiendas??
								</div>
							</div>
							<div class="d-flex justify-content-start mb-4">
								<div class="msg_cotainer">
									Estoy pensando en ir con la Noe jajaja
								</div>
							</div>
						</div>
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Escribe algo..." aria-describedby="button-addon2">                    
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<app-footer></app-footer>
</html>