#generalContainer
{
    display: flex; 
    flex-direction: row;
    padding-left: 425px;
    padding-top: 50px;
    height: 600px;
    min-width: 300px;
}

#containerBoton
{
    padding-right:30px;
    padding-top: 225px;
}

button
{
    border-radius: 8px;
    background-color: black;
    width: 150px;
}

#contenedorClase
{
    width: 550px ;
    height: 450px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(245, 45, 88);
    display: flex; 
    flex-direction: row;
    /* text-align: center; */
}

#contenedorFotoClase
{
    width: 225px ;
    height: 225px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(245, 45, 88);
    border-left: none;
    border-top: none;
    text-align: center;
  
}

img
{
    max-width: 215px;
    max-height: 215px;
}

#contenedorTexto
{
    width: 300px;
    padding-left:20px;
    padding-top: 10px; 
}


#contenedorSubirFoto, #contenedorTitulo, #contenedorPrecio
{
    padding-bottom: 20px;
}




