<app-header-active></app-header-active>

<div class="encabezado">
  <div>
      <h1>publicar una clase</h1>
  </div>
</div>

<mat-card class="main-content-card">
    <button mat-raised-button color="accent" class="button-publish" (click)="terminar(titulo.value, descripcion.value, precio.value, tema.value, habilidad.value, fecha.value, plataforma.value)">Publicar Clase</button>
    <mat-card-content class="content-column">
        
    <mat-card class="content-card-row">      
        <img mat-card-image src="https://t1.uc.ltmcdn.com/images/9/3/1/img_como_tocar_la_guitarra_como_un_profesional_2139_orig.jpg" alt="publicar_clase">
       
                <mat-label id="titulo-publicar">Subir Foto</mat-label>
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon> camera_alt </mat-icon>
              </button>
    </mat-card>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Título
          </mat-panel-title>
          <mat-panel-description>
              Escribe el título de tu clase
              <mat-icon> editar </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Título de clase</mat-label>
          <input matInput #titulo>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Breve descripción</mat-label>
          <input matInput #descripcion>
        </mat-form-field>
        <mat-action-row>          
          <button mat-button color="warn" (click)="prevStep()">Atras</button>
          <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>   
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Precio
          </mat-panel-title>
          <mat-panel-description>
              Pon un precio a tu clase
              <mat-icon> monetization_on</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Escribe el precio</mat-label>
          <input matInput #precio>
        </mat-form-field>
         <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Atras</button>
          <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>    
         <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Doctrina
            </mat-panel-title>
            <mat-panel-description>
                #Habilidades
                <mat-icon> wb_incandescent </mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>Tema Clase</mat-label>
            <input matInput #tema>
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Habilidad o Conocimiento</mat-label>
            <input matInput #habilidad>
          </mat-form-field>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>      
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
             Fecha De Clase
            </mat-panel-title>
            <mat-panel-description>
              Información Clase
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="fill">
            <mat-label>Escribe una fecha y una hora</mat-label>
            <input #fecha matInput type="datetime-local" placeholder="Escribe una fecha y una hora">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- <mat-datepicker #picker></mat-datepicker> -->
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
            <!-- <button mat-button color="success" (click)="setStep(4)">Terminar</button> -->
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
            Plataforma
            </mat-panel-title>
            <mat-panel-description>
              Plataforma clase
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Online, presencial</mat-label>
            <input matInput #plataforma>
          </mat-form-field>
      
          <!-- <mat-form-field appearance="fill">
            <mat-label>Escribe una fecha y una hora</mat-label>
            <input #fecha matInput type="datetime-local" placeholder="Escribe una fecha y una hora">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
          <!-- <mat-datepicker #picker></mat-datepicker> -->
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="setStep(5)">Terminar</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    <!-- <div class="secondInfoPublish">
        <form class="example-form">
      </form>
    </div> -->
</mat-card-content>
</mat-card>

<app-footer></app-footer>