<app-header-active></app-header-active>

<div class="general">
    
    <div class="boton">
        <button type="button" id="botonPublicar" class="btn btn-dark" routerLink="/organizar-clases">publicar clase</button>
    </div>

    <div class="container">
        <div class="boxed">
            <img src="">
        </div>
        <div class="datosArriba">
            <p>foto</p>
            <input type="text" placeholder="Subir foto">
            <p>titulo</p>
            <input type="text" placeholder="Aprende a...">
            <p>precio</p>
            <input type="text" placeholder="€">
        </div>
            
        <div class="datosAbajo">
            <div class="datosUbicacion">
                <p>ubicación</p>
            </div>
            <div class="datosDia">
              <p>día:</p>
              <select>
                <option value="fecha">dia/mes/año</option>
                <option value="semana">entre semana</option>
                <option value="finde">findes</option>
                <option value="completa">disponibilidad completa</option>
              </select>
            </div>
            <div class="horaInicio">
              <p>hora inicio:</p>
              <label class="selector"></label>
              <select>
                <option value="hora">00.00</option>
                <option value="cualquiera">cualquiera</option>
              </select>
            </div>
            <div class="horaHasta">
              <p>hasta</p>
              <label class="selector"></label>
              <select>
                <option value="hora">00.00</option>
                <option value="cualquiera">cualquiera</option>
              </select>
            </div>
          </div>

        
    </div>
</div>

<app-footer></app-footer>