body > footer{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

body > footer > div.container > div > div{
    padding-left: 29%;
}

a{
    color: rgb(245, 45, 88);
}

a:hover{
    color: #a8a8a8;
}
body > footer > div.footer-copyright.text-center.py-3 > a{
    text-decoration: none;
}