<body>
    <div class="encabezado">
        <div>
            <h1>mis cameos</h1>
        </div>
    </div>
    

    <div class="publicaciones">

      <div class="container">
        <div class="carta">
            <img src="https://i.pinimg.com/originals/50/c0/1d/50c01da8ab42dfb386680fd87d977260.jpg" class="card-img-top" alt="">
            <p style="margin-top: 5px;"><b>anita</b></p><p style="color:#A8A8A8;margin-top: -20px;">te ha confirmado!</p>
        </div>
        <div class="row">
            <div class="col-sm-8">
              <div class="card" style="background-color: rgba(245, 45, 88, 0.89);">
                <div class="card-body">
                    <div class="datosArriba">
                        <div class="datosIzq">
                            <h6>título de publicación</h6>
                            <h5><b><i>"Papiroflexia de helipuertos"</i></b></h5>
                        </div>
                        <div class="datosDrch">
                            <button class="btn btn-primary"><b>Contactar</b></button>
                        </div>
                    </div>
                        
                  <div class="datos">
                    <div class="datosDia">
                      <p>Día</p>
                      <p><b>Miércoles 14, Oct 2020</b></p>
                    </div>
                    <div class="datosHora">
                      <p>Hora</p>
                      <p><b>17.00 - 18.00</b></p>
                    </div>
                    <div class="datosUbicacion">
                      <p>Ubicación</p>
                      <p><b>A domicilio (Madrid)</b></p>
                    </div>
                    <div class="datosPrecio">
                      <p>Precio</p>
                      <p><b>10€</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="carta">
          <img src="https://64.media.tumblr.com/67ac5de24d9e771b5fa821253f8087f9/tumblr_payfsaJF4N1uwufmqo1_1280.jpg" class="card-img-top" alt="">
          <p style="margin-top: 5px;"><b>Rober</b></p><p style="color:#A8A8A8;margin-top: -20px;">pendiente...</p>
      </div>
      <div class="row">
          <div class="col-sm-8">
            <div class="card">
              <div class="card-body">
                <div class="datosArriba">
                    <div class="datosIzq">
                        <h6>título de publicación</h6>
                        <h5><b><i>"Retratos de la Mona Lisa en Paint"</i></b></h5>
                    </div>
                    <div class="datosDrch">
                        <button class="btn btn-primary"><b>Contactar</b></button>
                    </div>
                </div>

                <div class="datos">
                  <div class="datosDia">
                    <p>Día</p>
                    <p><b>Miércoles 14, Oct 2020</b></p>
                  </div>
                  <div class="datosHora">
                    <p>Hora</p>
                    <p><b>17.00 - 18.00</b></p>
                  </div>
                  <div class="datosUbicacion">
                    <p>Ubicación</p>
                    <p><b>A domicilio (Madrid)</b></p>
                  </div>
                  <div class="datosPrecio">
                    <p>Precio</p>
                    <p><b>10€</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

    </div>

</body>
<app-footer></app-footer>