<app-header-active></app-header-active>

<div class="encabezado">
  <div>
      <h1>tu perfil</h1>
  </div>
</div>

<div id="metaContainer">
    <div id="containerFoto">
        <img src="{{usuario.foto}}">
    </div>
    <div id="container">
        <div>
            <mat-form-field class="example-full-width">
                <mat-label><h4>{{usuario.nombre_usuario}}</h4></mat-label>
                <textarea matInput placeholder="Escribe tu nombre de usuario..." #nombre_usuario></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label><h4>{{usuario.status}}</h4></mat-label>
                <textarea matInput placeholder="Actualiza tu status" #status></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="URL de la foto" #foto></textarea>
            </mat-form-field>
        </div>
        <div>
            <button type="button" (click)="actualizarBasicos(nombre_usuario.value,status.value,foto.value)" class="btn btn-dark">Actualizar</button>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div id="metaContainer">
    <div id="container">
        <h3>datos de tu cuenta:</h3>
        <mat-form-field class="example-full-width">
            <mat-label><h5>{{usuario.nombre}}</h5></mat-label>
            <textarea matInput placeholder="Cambiar nombre:" #nombre></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label><h5>{{usuario.apellido}}</h5></mat-label>
            <textarea matInput placeholder="Cambiar apellido" #apellido></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label><h5>{{usuario.email}}</h5></mat-label>
            <textarea matInput placeholder="Cambiar email:" #email></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label><h5>{{usuario.contrasena}}</h5></mat-label>
            <textarea matInput placeholder="¿Quieres cambiar la contraseña?" #contrasena></textarea>
        </mat-form-field>
        <button type="button" (click)="actualizarCuenta(nombre.value,apellido.value,email.value,contrasena.value)" class="btn btn-dark">Actualizar</button>
    </div>
</div>

<app-footer></app-footer>