<div id="metaContainer">


    <div id="containerFoto">
        <img src="https://previews.123rf.com/images/atdigit/atdigit1801/atdigit180100120/93297984-handsome-girl-posing-in-a-city-streets-with-car-traffic-on-the-blurred-background-she-is-wearing-blu.jpg">
        <div id="#seguir" >
            <button type="button" id="botonSeguir" class="btn btn-dark">seguir</button>
        </div> 

    </div>
    
    <div id="container">
        <div id="usuario">
            <h6>usuario</h6>
            <h4>Macarena</h4>
        </div>
    
        <div id="nivel">
            <h6>nivel</h6>
            <h4>super crack</h4>
        </div>
    
        <div id="followers">
            <h6>followers</h6>
            <h4>poquitos</h4>
        </div>
    
    
        <div id="following">
            <h6>folowing</h6>
            <h4>stalker</h4>
        </div>
    
        
        <div id="doctrinas">
            <h6>doctrinas</h6>
            <h4>#paint #papiroflexia</h4>
        </div>

        <button type="button" id="#mensajes" class="btn btn-dark">mensajes</button>

    </div>

</div>

