
/* MEDIA QUERIES */

/*Escritorio*/
@media (min-width: 1199.98px) {

    #metaContainer
    {
        display: flex; 
        flex-direction: row;
        padding-left: 350px;
        padding-top: 50px;
        height: 600px;
        min-width: 300px;
    }
    
    #container
    {
        width: 400px;
        height: 500px;
        padding-left: 40px;
    }
    
    img
    {
        max-width: 330px;
        max-height: 430px;
    }
    
    #containerFoto
    {
        width: 350px ;
        height: 450px;
        border-style: solid;
        border-width: 10px;
        border-color: #F0605C;
        text-align: center;
    }
    
    h6
    {
        color: grey;
    }
    #usuario, #nivel, #followers, #following, #doctrinas{
        padding-top: 20px;
    }
    button{
        height: 40px;
        width: 120px;
        border-radius: 7px;
        background-color: black;
    }
    
.encabezado{
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}
h1{
  font-size: 72px;
}
mat-label{
  color:black;
}
.main-content-card{
  margin: 1% 15% 5% 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.example-full-width {
  width: 100%;
}
.content-column{
  display: flex;
  flex-direction: column;
}
  
.mat-focus-indicator.button-publish.mat-raised-button.mat-button-base.mat-accent{
        background: black;
        margin-top: 25%;
        margin-right: 30px;
        padding-right: 17%;
    }
  
.mat-focus-indicator.button-publish.mat-raised-button.mat-button-base.mat-accent:hover{
      background: #F0605C;
      color: white;
}
  
.mat-card.mat-focus-indicator.content-card-row{
        display: flex;
        flex-direction: row;
        margin-right: 64%;
        /* margin-bottom: 25%; */
}
.mat-card-image{
      height: 117%;
} 
.mat-card.mat-focus-indicator.main-content-card{
      padding-right: 5%;
      padding-bottom: 5%;
      padding-top: 5%;
}
.content-column{
    border: 2px solid #F0605C;
}
.content-card-row{
    height: 50%;
}
  
.example-form.ng-untouched.ng-pristine.ng-valid{
      margin-left: 70%;
      font-size: 135%;
      /* margin-top: 22%; */
}
  
    .mat-focus-indicator.mat-mini-fab.mat-button-base.mat-primary{
      margin-left: 20%;
      margin-top: 10%;
      background: black;
    }
  
    .secondInfoPublish{
      display: flex;
      flex-direction: row-reverse;
      padding-right: 65%;
      margin-bottom: 15%;
      margin-top: 2%;
    }
  
    .mat-form-field.example-full-width.ng-tns-c69-2.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder{
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 115%;
    }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .mat-accordion.example-headers-align{
      margin-top: 8%;
  }

#metaContainer
{
    display: flex;
    flex-direction: row;
    padding-left: 350px;
    padding-top: 50px;
    height: 600px;
    min-width: 300px;
}
#container
{
    width: 400px;
    height: 500px;
    padding-left: 40px;
}
img
{
    max-width: 330px;
    max-height: 430px;
}
#containerFoto
{
    width: 350px ;
    height: 450px;
    border-style: solid;
    border-width: 10px;
    border-color: #F0605C;
    text-align: center;
}
h6
{
    color: grey;
}


button
{
    border-radius: 8px;
    margin-left: 150px;
    margin-top: 25px;
    background-color: black;
}
#usuario, #nivel, #followers, #following, #doctrinas
{
    padding-top: 20px;
}
}