<div id="metaContainer">

    <div id="containerFoto">
        <img src="https://images.unsplash.com/photo-1517070208541-6ddc4d3efbcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
        <div id="#seguir" >
            <button type="button" id="botonSeguir" class="btn btn-dark">seguir</button>
        </div> 

    </div>
    
    <div id="container">
        <div id="usuario">
            <h6>usuario</h6>
            <h4>Marco Aurelio</h4>
        </div>
    
        <div id="nivel">
            <h6>nivel</h6>
            <h4>super crack</h4>
        </div>
    
        <div id="followers">
            <h6>followers</h6>
            <h4>poquitos</h4>
        </div>
    
    
        <div id="following">
            <h6>folowing</h6>
            <h4>stalker</h4>
        </div>
    
        
        <div id="doctrinas">
            <h6>doctrinas</h6>
            <h4>#reveladoDeFotos #hacerJabon <br> </h4>
                <!-- #posarEnSelfies #bricolaje</h4> -->
        </div>

        <button type="button" id="#botonMensaje" class="btn btn-dark">enviar mensaje</button>
    </div>
</div>


