
/* MEDIA QUERIES */

/*Escritorio*/
@media (min-width: 1199.98px) {

    .encabezado{
        padding-left: 5%;
        display: flex;
        flex-direction: row;
    }
    h1{
        font-size: 72px;
    }
    #metaContainer{
        display: flex; 
        flex-direction: row;
        padding-left: 350px;
        padding-top: 50px;
        height: 600px;
        min-width: 300px;
    }
    #container{
        width: 400px;
        height: 500px;
        padding-left: 40px;
    }
    img
    {
       height: 150px;
    }

    #metaContainer
    {
        display: flex; 
        flex-direction: row;
        padding-left: 350px;
        padding-top: 50px;
        height: 600px;
        min-width: 300px;
    }
    
    #container
    {
        width: 400px;
        height: 500px;
        padding-left: 40px;
    }
    
    img
    {
        max-width: 330px;
        max-height: 430px;
    }
    #containerFoto > img{
        height: 100%;
    }
    
    #containerFoto
    {
        width: 350px ;
        height: 450px;
        border-style: solid;
        border-width: 10px;
        border-color: rgb(245, 45, 88);
        text-align: center;
    }
    
    h6
    {
        color: grey;
    }
    
    
    #usuario, #nivel, #followers, #following, #doctrinas
    {
        padding-top: 20px;
    }
    
    #botonSeguir
    {
        height: 40px;
        width: 120px;
        border-radius: 8px;
        margin-top: -90px; 
        margin-left: 0px;
        background-color: black;
    }
    .containerDos{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
    }
    .example-card {
        max-width: 400px;
    }
    
      
    /* .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    } */

    p{
        font-weight: 300;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mat-card-title{
        font-weight: 300;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

   /* .mat-expansion-panel-header-description.ng-tns-c112-9{
    padding-right: 13%;
   }

   .mat-expansion-panel-body {
    padding: 0 24px 16px;
   } */

  .mat-card > mat-card-actions{
    margin-bottom: 8%;
    margin-top: 5%;
   }

   .mat-card-actions{
    text-align: center;
   }

  .mat-card-title{
    font-weight: 300;
   }

   .mat-button-wrapper{
       font-weight: 400;
   }

   /* .mat-card-subtitle{
       margin-bottom: 23%;
   } */

   .mat-focus-indicator.mat-raised-button.mat-button-base{
       width: 65%;
       font-weight: 400;
   }

    .mat-card-subtitle{
        margin-bottom: 12%;
    }

   .mat-expansion-panel-header-description{
        justify-content: flex-end;
   }

   /* GRID */
   .grid {
    display: grid;
    grid-template-columns: 400px repeat(1, 400px) 400px;
    grid-template-rows: 1fr 0.1fr;   
  }

}


#usuario, #nivel, #followers, #following, #doctrinas
{
    padding-top: 20px;
}

#botonSeguir
{
    height: 40px;
    width: 120px;
    border-radius: 8px;
    margin-top: -90px; 
    margin-left: 0px;
    background-color: black;
}
.containerDos{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
.example-card {
    max-width: 300px;
    margin-bottom: 6%;
    border-radius: 32px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

@media (min-width: 1199.98px) {}
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {}
@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {}