<app-header-active></app-header-active>

<div class="encabezado">
  <div>
      <h1>{{usuario.nombre_usuario}}</h1>
  </div>
</div>
<div id="metaContainer">
    <div id="containerFoto">
        <img src="{{usuario.fotousuario}}" >
        <div id="#seguir" >
            <button type="button" id="botonSeguir" class="btn btn-dark">Chatear</button>
        </div> 
    </div>    
    <div id="container">
        <div id="usuario">
            <h6>usuario</h6>
            <h4>{{usuario.nombre}}</h4>
        </div>    
        <div id="nivel">
            <h6>nivel</h6>
            <h4>{{usuario.status}}</h4>
        </div>
        <div id="doctrinas">
            <h6>doctrinas</h6>
            <h4>{{usuario.habilidad}}<br> </h4>
        </div>
    </div>
</div>
<div class="containerDos">
  <mat-divider></mat-divider>

  <!-- APUNTARSE A LAS CLASES QUE TIENE EL USUARIO -->

  <mat-expansion-panel hideToggle on-click=hideCameos()>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <h3>apúntate a sus clases!</h3>
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>reorder</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <div class="test"> -->
    <div class="grid">
      <mat-card class="example-card" *ngFor="let clases of claseUsuario;">
        <mat-card-header>
          <mat-card-title>{{clases.titulo}}</mat-card-title>
          <mat-card-subtitle>{{clases.tema}}</mat-card-subtitle>         
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="{{clases.foto}}" alt="Photo">
          <mat-card-subtitle>{{clases.habilidad}}</mat-card-subtitle>
          <p>
            {{clases.descripcion}}
          </p>
          <mat-card-subtitle>{{clases.fecha | date: 'short'}}</mat-card-subtitle>
          <mat-card-actions>
            <button mat-raised-button routerLink="/perfil">Ver</button>
          </mat-card-actions>
        </mat-card-content>       
      </mat-card>
    </div>
  </mat-expansion-panel>

  <!-- MIRAR LOS CAMEOS HECHOS DEL USUARIO -->

  <mat-expansion-panel hideToggle on-click=hideClases()>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <h3>mira sus cameos!</h3>
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>reorder</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="grid">
      <mat-card class="example-card" *ngFor="let cameo of misCameos;">
        <mat-card-header>
          <mat-card-title>{{cameo.titulo}}</mat-card-title>
          <mat-card-subtitle>{{cameo.tema}}</mat-card-subtitle>         
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="{{cameo.foto}}" height="100" width="100" alt="Photo">
          <mat-card-subtitle>{{cameo.habilidad}}</mat-card-subtitle>
          <p>
            {{cameo.descripcion}}
          </p>
          <mat-card-subtitle>{{cameo.fecha | date: 'short'}}</mat-card-subtitle>
          <mat-card-actions>
            <button mat-raised-button routerLink="">Prueba</button>
          </mat-card-actions>
        </mat-card-content>       
      </mat-card>
    </div>
  </mat-expansion-panel>
</div>
<app-footer></app-footer>