<!-- <app-header></app-header>
<router-outlet></router-outlet> -->

<div class="main">
    <header class="header">
            <ul class="menu" #menu>
                <li class="menu__item"><a class="menu__link">Home</a></li>
                <li class="menu__item"><a class="menu__link">About us</a></li>
                <li class="menu__item"><a class="menu__link">How it works</a></li>
                <li class="menu__item"><a class="menu__link">Benefits</a></li>
                <li class="menu__item"><a class="menu__link">Testimonials</a></li>
            </ul>
            <ul class="menu menu-right" #menuSecond>
                <li class="menu__item"><a class="menu__link">Blog</a></li>
                <li class="menu__item"><a class="menu__link">FAQ</a></li>
            </ul>
    </header>
    <section class="first-section">
        <div class="info">
            <h1 class="heading-1">Real state advice for real locals.</h1>
            <p class="paragraph">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio recusandae temporibus odio, 
                aperiam eligendi sequi! Eius recusandae maxime iste quod, ullam eum aspernatur, 
                laboriosam vitae modi tenetur adipisci labore porro.
            </p>
            <a class="btn btn--start">Get Started</a>
        </div>
        <div class="visuals">
            <div class="image-container">
                <img #imageFirst src="../assets/tabitha-turner-JYTWsPsIDcY-unsplash.jpg" alt="">
            </div>
            <div class="image-container">
                <img #imageSecond src="../assets/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="second-section" #secondSection>
        <div class="box"></div>
        <h4 class="heading-4" id="about">About Us</h4>
        <h1 class="heading-1" id="buy">Buying a home doesn't have to be a mystery</h1>
        <div class="info-1">
            <div class="info-1__text">
                <span class="quote">
                    "
                </span>
                <h2 class="heading-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h2>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloribus tempora at pariatur vel a possimus eius id labore, 
                    soluta explicabo delectus sint adipisci corporis enim quaerat dolorum autem blanditiis dignissimos?
                </p>
                <a class="btn--learn">Learn More</a>
            </div>
            <div class="info-1__visual">
                <img src="../assets/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg" alt="">
            </div>
        </div>
    </section>
</div>