<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Home</title>
</head>
<app-header-active></app-header-active>
<body>
    <div class="encabezado">
        <div>
            <h1>Bienvenido a cameo!</h1>
            <h4>encuentra clases interesantes</h4>
        </div>
        <div class="buscador">
            <section class="search-sec">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                                        <input type="text" class="form-control search-slt" placeholder="Buscar clases...">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 p-0">
                                        <button type="button" class="btn btn-danger wrn-btn"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <div class="publicaciones">
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
              <div class="row space-16">&nbsp;</div>
              <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
              </div>
              <div class="col-md-2">&nbsp;</div>
              <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Emmanuel</mat-card-title>
                          <mat-card-subtitle>clase disponible</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Clase para que tu perro aprenda a traerte el periódico.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/publicacion">Ver</button>
                          <button mat-button routerLink="/chat">Contactar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
              </div>
              <div class="col-md-2">&nbsp;</div>
            </div>
          </div>
    </div>
</body>
<app-footer></app-footer>
</html>