/* MEDIA QUERIES */

/*Escritorio*/
@media (min-width: 1199.98px) {
    body{
        padding-top: 5%;
    }
    h1{
        font-size: 72px;
        color: rgb(245, 45, 88);
    }
    h4{
        padding-top: 10%;
    }
    .encabezado{
        display: flex;
        flex-direction: row;
        padding-left: 5%;
    }
    .buscador{
        margin-top: 3%;
        margin-left: 15%;
        width: 30%;
    }
    .search-slt{
        border-radius:0;
    }
    .wrn-btn{
        width: 100%;
        border-radius:0;
    }
    .publicaciones{
        padding: 3%;
    }
    .example-card{
        max-width: 400px;
    }
    .mat-card-image{
        height: 200px;
    }
    .example-header-image{
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
    body > div.encabezado > div.buscador > section > div > form > div > div > div > div.col-lg-2.col-md-2.col-sm-2.p-0 > button{
        background: rgb(245, 45, 88);
    }

    body > div.publicaciones > div > div.col-md-8 > div > div > mat-card{
        border-radius: 35px;
    }

    body > div.publicaciones > div > div.col-md-8 > div > div{
        padding-top: 5%;
    }

    body > div.publicaciones > div{
        margin-right: 25%;
    }

    body > div.publicaciones > div > div.col-md-8 > div > div > mat-card{
        margin-bottom: 10%;
    }

    body > div.publicaciones > div > div.col-md-8 > div > div{
        display: flex;
        flex-direction: row;
    }

    body > div.publicaciones > div > div.col-md-8 > div > div > mat-card{
        margin-right: 10%;
    }

    /* GRID */
    .grid {
        margin-left: 6%;
        display: grid;
        grid-template-columns: 400px repeat(1, 400px) 400px;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-rows: 1fr 1fr;
       
      }

      body > div.publicaciones > div.grid > mat-card{
        margin-right: 10%;
        margin-bottom: 10%;
        border-radius: 30px;
      }

      body > div.publicaciones > div.grid > mat-card > mat-card-actions{
        text-align: right;
        padding-bottom: 3%;
      }

      .mat-focus-indicator.mat-raised-button.mat-button-base.cdk-focused.cdk-mouse-focused:hover{
        background: black;
        color: white;
      }

      .mat-card-content{
        font-weight: 300;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .mat-focus-indicator.mat-raised-button.mat-button-base{
        font-weight: 400;
    }
      
}

