.header-active{
    display: flex;
    justify-content: flex-end;
    padding-right: 12%;
    padding-top: 3%;
}

.mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base.mat-accent{
    font-size: 22px; 
}

.mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base{
    font-size: 22px;
}

.mat-focus-indicator.mat-button.mat-button-base.mat-basic{
    font-size: 22px;
}

.mat-focus-indicator.mat-menu-item.ng-tns-c82-0{
    color: white;
}

.mat-focus-indicator.mat-menu-item.ng-tns-c82-0{
    background: black;
}

/* .cdk-overlay-pane{
    background: black;
} */


#mat-menu{
    background: black;
}