<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<button mat-button [matMenuTriggerFor]="menu" routerLink="/home">Cameo</button>
<button mat-button [matMenuTriggerFor]="menu" routerLink="/chat">Chat</button>
<button mat-button [matMenuTriggerFor]="menu" color="accent"><mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/perfil">Mi perfil</button>
  <button mat-menu-item>Peticiones de clase</button>
  <button mat-menu-item>Publicar clase</button>
  <button mat-menu-item>Organizar mis clases</button>
  <button mat-menu-item>Mis cameos</button>
  <button mat-menu-item><mat-icon> exit_to_app </mat-icon></button>
</mat-menu>




