.classTrue
{
    background-color: #a8a8a894;
    border-radius: 25px;
}
.classFalse
{
    background-color: white;
    border-radius: 25px;
}


/* MEDIA QUERIES */

/*Escritorio*/
@media (min-width: 1199.98px) {
    body{
        padding-top: 5%;
        padding-left: 5%;
    }
    .encabezado{
        display: flex;
        flex-direction: row;
    }
    h1{
        font-size: 72px;
    }
    .btn.btn-primary{
        background-color: rgb(245, 45, 88);
        border: 2px solid black;
        margin-left: 30%;
        margin-top: 5%;
        width: 200px;
        height: 37px;
        color:black;
        border-radius: 12px;
    }
    .btn.btn-primary.p{
    
        display: inline-block; 
    }
    .publicaciones{
        padding: 2%;
    }
    .container{
        padding-top: 3%;
    }
    .carta{
        float: left;
        height: 140px;
        width: 140px;
        border: 2px solid rgb(245, 45, 88);
    }
    .card{
        width: 150%;
        height: 100%;
        border: 2px solid black;
        border-radius: 25px;
        padding-bottom: 15px;
    }
    .datos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1%;
    }

    .btn-dark {
        color: #fff;
        background-color: #343A40;
        border-color: #343A40;
        margin-left: 750px;
    }

    /* GRID */
    /* .grid {
        margin-left: 6%;
        display: grid; */
        /* grid-template-columns: 400px repeat(1, 400px) 400px; */
        /* grid-template-rows: 1fr 6fr;
        grid-template-columns: 3fr 4fr 200px repeat(2, 13.1rem) 1fr; */
        /* grid-template-columns: 1fr 1fr; */
        /* grid-template-rows: 1fr 1fr;
       
      } */

      body > div.grid > div > mat-card{
        margin-bottom: 15%;
      }

}

