.classFalse
{
    background-color: #a8a8a894;
    border-radius: 25px;
}
.classTrue
{
    background-color: white;
    border-radius: 25px;
}


/* MEDIA QUERIES */

/*Escritorio*/
@media (min-width: 1199.98px) {
    body{
        padding-top: 5%;
        padding-left: 5%;
    }
    .encabezado{
        display: flex;
        flex-direction: row;
    }
    h1{
        font-size: 72px;
    }
    .btn.btn-primary{
        background-color: #F0605C;
        border: 2px solid black;
        margin-left: 30%;
        margin-top: 5%;
        width: 200px;
        height: 37px;
        color:black;
        border-radius: 12px;
    }
    .btn.btn-primary.p{
    
        display: inline-block; 
    }
    .publicaciones{
        padding: 2%;
    }
    .container{
        padding-top: 3%;
    }
    .carta{
        float: left;
        height: 140px;
        width: 140px;
        border: 2px solid #F0605C;
    }
    .card{
        width: 150%;
        height: 100%;
        border: 2px solid black;
        border-radius: 25px;
        padding-bottom: 15px;
    }
    .datos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1%;
    }

    .btn-dark {
        color: #fff;
        background-color: #343A40;
        border-color: #343A40;
        margin-left: 750px;
    }

      body > div.grid > div > mat-card{
        margin-bottom: 15%;
      }

      button.swal2-confirm.swal2-styled{
          background-color: black!important;
      }

}

